{#
/**
 * @file
 * Default theme implementation for an organizer.
 *
 * Available variables:
 *
 * @see template_preprocess_culturefeed_organizer()
 *
 * @ingroup themeable
 */
#}

<div>
  Organizer
</div>
