{#
/**
 * @file
 * Default theme implementation for a Culturefeed agenda search pager.
 *
 * Available variables:
 * - pager: The search pager
 *
 * @see template_preprocess_culturefeed_agenda_search_pager()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'culturefeed-agenda-search-pager',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ pager }}
</div>
