{#
/**
 * @file
 * Default theme implementation for a Culturefeed agenda search result count.
 *
 * Available variables:
 * - count: The number of found results
 *
 * @see template_preprocess_culturefeed_agenda_search_result_count()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'culturefeed-agenda-search-result-count',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {% if count %}
    {% trans with {'context': 'culturefeed_agenda'} %}
    {{ count|placeholder }} result found.
    {% plural count %}
    {{ count|placeholder }} results found.
    {% endtrans %}
  {% else %}
    {{ '%count results found' | t({'%count': 0}, {'context': 'culturefeed_agenda'}) }}
  {% endif %}
</div>
