{#
/**
 * @file
 * Default theme implementation for Culturefeed agenda search form.
 *
 * Available variables:
 * - form: The search form
 *
 * @see template_preprocess_culturefeed_agenda_search_form()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'culturefeed-agenda-search-form',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <h3>{{ form.title }}</h3>
  {{ form | without('title') }}
</div>
