{#
/**
 * @file
 * Default theme implementation for Culturefeed agenda search results.
 *
 * Available variables:
 * - results: List of result items
 * - rows: Formatted list of results
 * - empty: Message to be displayed when no results are found
 * - reset_url: Url to reset the current search page
 *
 * @see template_preprocess_culturefeed_agenda_search_results()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'culturefeed-agenda-search-results',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {% if rows %}
    {{ rows }}
  {% elseif empty %}
    <div class="empty-search">
      <p>
        <strong>{{ 'There are no search results.' | t({}, {'context': 'culturefeed_agenda'}) }}</strong><br/>
        {{ 'Edit your search or <a href="@result_url">start a new search</a>.' | t({'@result_url': reset_url}, {'context': 'culturefeed_agenda'}) }}
      </p>
    </div>
  {% endif %}
</div>
